<html>
	<head>
		<title>Create Blog</title>
	</head>
	<body>
		<form method="post" action="/blog/save/">{% csrf_token %}
			{% if errormessage %}
        	<strong>{{errormessage}}</strong>
        	{% endif %}
			<table width="300" height="300" border="0" align="center" style="border:3px solid #008050">
			<tr>
			<td colspan="3" align="center"><h2>Create Blog</h2></td>
			</tr>
			<tr>
				<td width="" align="right">Title *</td>
				<td width="184" align="center"><input type="text" name="title" /></td>
			</tr>
			<tr>
				<td align="right">Description *</td>
				<td align="center"><textarea rows="4" cols="15" name="description"></textarea></td>
			</tr>
			<tr>
				<td width="" align="right">Date*</td>
				<td width="184" align="center"><input type="text" name="Date"/></td>
			</tr>
			<tr>
				<td width="" align="right">Writer*</td>
				<td width="184" align="center"><input type="text" name="Writer"/></td>
			</tr>
			<tr>
				<td align="right">&nbsp;</td>
				<td align="center"><input type="submit" name="create" value=" Publish "/></td>
			</tr>
			</table>
		</form>
	</body>
</html>
