<html>
	<head>
		<title>Detail</title>
	</head>
	<body>
			<table width="300" height="300" border="0" align="center" style="border:3px solid #008050">
				<tr>
					<td width="" align="right">Title</td>
					<td width="184" align="center">{{post.title}}</td>
				</tr>
				<tr>
					<td align="right">Description</td>
					<td align="center">{{post.description}}</td>
				</tr>
				<tr>
					<td width="" align="right">Date</td>
					<td width="184" align="center">{{post.published}}</td>
				</tr>
				<tr>
					<td width="" align="right">Writer</td>
					<td width="184" align="center">{{post.created_by}}</td>
				</tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td align="center"><a href="/blog/posts/">Back To all Posts</a></td>
				</tr>
			</table>
	</body>
</html>
